@use "../abstracts/mixins" as *;
@use "../abstracts/interfaces" as *;
@use "../abstracts/variables" as *;

[class*="tag-"] {
	--_border: none;
	--_background: var(--tag-background);
	--_color: var(--tag-color);
	padding: var(--_padY, 0.75em) var(--_padX, 1em);
	// max-width: 100%;
	text-align: center;
	border-radius: 100vmax;
	font-weight: 700;
	letter-spacing: 0.0175rem;
	inline-size: fit-content;
	line-height: 0.9em;
	vertical-align: middle;
	font-size: 0.875rem;
	background-color: var(--_background);
	color: var(--_color);
	border: var(--_border);
	font-size: 1rem;
}

.tag {
	&--heading {
		font-family: $heading-font-stack;
		font-weight: 800;
		font-size: 1rem;
		line-height: 1em;
		--_padX: 2em;
	}

	&--sm {
		--_padX: 0.5em;
		--_padY: 0.5em;
		@include media-x(991px) {
			font-size: 0.85rem;
		}
		@include media(992px) {
			font-size: 0.85rem;
		}
		@include media(1400px) {
			font-size: 0.75rem;
		}
	}
	&--xl {
		--_padX: 1em;
		--_padY: 0.5em;
		@include media(545px) {
			font-size: 1.15rem;
		}
		@include media(992px) {
			font-size: 1.5rem;
		}
		@include media(1400px) {
			font-size: 2rem;
		}
	}
	&--lg {
		--_padX: 1em;
		--_padY: 0.5em;
		@include media(545px) {
			font-size: 1.15rem;
		}
		@include media(992px) {
			font-size: 1.25rem;
		}
		@include media(1400px) {
			font-size: 1.5rem;
		}
	}

	&--black {
		--tag-color: var(--clr-neutral-600);
		--tag-background: var(--clr-dark-500);
	}
	&--secondary {
		--tag-color: var(--clr-primary-300);
		--tag-background: var(--clr-secondary-300);
	}
	&--secondary_h {
		--tag-color: var(--clr-secondary-300);
		--tag-background: var(--clr-secondary-300);
	}
	&--primary {
		--tag-color: var(--clr-secondary-300);
		--tag-background: var(--clr-primary-300);
	}
	&--darkh {
		--tag-color: var(--clr-secondary-300);
		--tag-background: var(--clr-dark-200);
	}
	&--white {
		--tag-color: var(--clr-primary-300);
		--tag-background: var(--clr-neutral-600);
	}
	&--blach {
		--tag-color: var(--clr-secondary-300);
		--tag-background: var(--clr-dark-500);
	}
	&--black {
		--tag-color: var(--clr-neutral-600);
		--tag-background: var(--clr-dark-500);
	}
	&--greh {
		--tag-color: var(--clr-secondary-300);
		--tag-background: var(--clr-dark-100);
	}
	&--grey {
		--tag-color: var(--clr-dark-100);
		--tag-background: var(--clr-dark-100);
	}
	&--outline {
		--_border: 1px solid var(--tag-background);
		--_color: var(--tag-background);
		--_background: transparent;
	}
}
