@use "../abstracts/mixins" as *;
@use "../base/base" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/interfaces" as *;
@use "../definitions/color-defs" as *;
@use "../base/helpers/spacing-helper" as *;

html,
body {
	scroll-padding-top: 5rem;
}

a.link {
	text-decoration: underline;
	color: var(--clr-neutral-400);
	transition: color 0.2s ease;
	@extend .tracking-4tight;

	&:hover {
		text-decoration: underline;
		color: var(--clr-neutral-200);
		transition: color 0.2s ease;
	}

	&:active {
		outline: var(--set-ui-highlight-color);
	}
	&:focus {
		text-decoration: underline;
		background-color: var(--set-ui-highlight-color);
		color: hsl(from var(--set-ui-highlight-color) h s 10% / 100%);
	}
}

.no-italics {
	font-style: normal;
}

.uppercase {
	text-transform: uppercase;
}
.h-dvh {
	min-height: 100dvh;
}

.h-full {
	height: 100%;
}

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.z-1 {
	z-index: 1;
}
.z-2 {
	z-index: 2;
}
.font-mono {
	font-family: $code-font-stack;
}
.ascii__section {
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.ascii__art {
	color: var(--clr-neutral-500);
	font-family: "Google Sans Code", monospace;
	white-space: pre-line;

	@media screen and (max-width: 991px) {
		font-size: 0.75rem;
	}
	@media screen and (max-width: 545px) {
		font-size: 0.4rem;
	}
}

.strip-style {
	&:is(ul) {
		list-style: none;
	}
	&:is(li) {
		list-style: none;
	}
	&:is(a) {
		text-decoration: none;
		color: var(--set-default-color);

		&,
		&:active,
		&:hover,
		&:focus {
			text-decoration: none;
			color: var(--set-default-color);
		}
	}
}

.object {
	&-cover {
		object-fit: cover;
	}
	&-contain {
		object-fit: contain;
	}
	&-fill {
		object-fit: fill;
	}
	&-fill {
		object-fit: fill;
	}
}

.fs-image {
	inline-size: 100%;
}
picture {
	img {
		background-color: var(--clr-neutral-600);
	}
}

.paragraph-wrapper {
	p {
		margin-block-end: 1em;
	}
}

.sp {
	display: inline-block;
	inline-size: 1ch;
}

.hero {
	&__section {
		position: relative;
		background: var(--background, none);
		background-size: cover;
		background-position: center;
		min-height: 100svh;
	}
	&__base {
		position: absolute;
		inset-block-end: 0;
		inset-inline-start: 0;
		inset-inline-end: 0;
	}
	&__times {
		vertical-align: middle;
	}
	&__scroll {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		&:after {
			content: "";
			display: block;
			inline-size: 1px;
			block-size: 4rem;
			background-color: var(--clr-neutral-200);
		}
	}
	&__subtitle {
		font-size: 1rem;
		@include media-x(767px) {
			font-size: 0.9rem;
		}
	}
}

.tracking-tight {
	letter-spacing: -0.02em;
}
.tracking-4tight {
	letter-spacing: -0.04em;
}
.tracking-wide {
	letter-spacing: 0.1em;
}
.leading-120 {
	line-height: 120%;
}
.leading-77 {
	line-height: 77%;
}
.leading-150 {
	line-height: 150%;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.capabilities {
	&__table {
		td,
		th {
			inline-size: 50%;
			padding-block: 0.5rem;

			@include media(768px) {
				padding-inline: 1rem;
			}
		}

		tr {
			// &:not(:last-child) {
			td,
			th {
				vertical-align: top;
				border-block-end: 1px solid var(--clr-neutral-200);
			}
			// }
		}

		&--md {
			@extend .capabilities__table;
			display: none;
			@include media(768px) {
				display: table;
			}
		}
		&--sm {
			@extend .capabilities__table;
			display: table;
			@include media(768px) {
				display: none;
			}
		}
		@include media-x(767px) {
			th {
				padding-block-start: 2rem;
			}
		}
	}
}

.window {
	&__section {
		--background: var(--clr-neutral-600);
		background: var(--background), var(--clr-neutral-600);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center right;
		min-block-size: 100dvh;
		overflow: clip;

		@include media-x(991px) {
			min-block-size: 100svh;
		}
	}
}

.approach {
	&__item {
		padding: 1.5em;
		background-color: var(--clr-neutral-600);
		display: block;
		min-block-size: 70dvh;
		position: relative;
		overflow: clip;
		@include media-x(991px) {
			min-block-size: 28rem;
		}

		img {
			position: absolute;
			inset-inline-start: 0;
			inset-block-end: 1rem;
			transform: translate(-10%) scale(1.1);
		}
	}
	&__title {
		@include media-x(767px) {
			text-align: left;
		}
	}
}

.contact__section {
	padding-block-end: 20rem;
	position: relative;
	z-index: 20;
	&:before {
		content: "";
		position: absolute;
		z-index: 0;
		pointer-events: none;
		opacity: 0.05;
		inset: 0;
		background-image: url(/type-logo-white.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center 115%;
		background-blend-mode: soft-light;
	}

	@include media-x(767px) {
		padding-block-end: 10rem;
	}
}

.info {
	&-wrapper {
		&--right {
			border-inline-start: 1px solid var(--clr-neutral-600);
		}
	}
}

.footer {
	&__link {
		color: var(--clr-neutral-600);
		text-transform: uppercase;

		&:hover {
			color: var(--clr-neutral-500);
		}
		&:active {
			outline: var(--set-ui-highlight-color);
		}
		&:focus {
			text-decoration: underline;
			background-color: var(--set-ui-highlight-color);
			color: hsl(from var(--set-ui-highlight-color) h s 10% / 100%);
		}
	}
}

.window {
	inline-size: fit-content;
	position: absolute;
	max-inline-size: 50vw;
	overflow: clip;

	img {
		inline-size: 100%;
		pointer-events: grab;
	}

	&--1 {
		@include media-x(767px) {
			inline-size: 175%;
			max-inline-size: unset;
			inset-inline-start: 1rem;
			inset-block-start: 2rem;
		}
	}
	&--2 {
		@include media-x(767px) {
			inline-size: 175%;
			max-inline-size: unset;
			inset-inline-start: 0;
			inset-block-end: 2rem;
		}
	}

	&-wrapper {
		inline-size: 100%;
		block-size: 100%;
		position: relative;
	}

	&__section {
		position: relative;
	}
}

.subtitle__wrapper {
	h3 {
		white-space: break-words;
	}
}

.work {
	&__image {
		inline-size: 100%;
		@include media(992px) {
			inline-size: 100%;
			object-fit: cover;
			block-size: 100%;
		}
	}
}
